@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

* {
  transition: all 0.25s ease;
}
